<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div id="app" style="display: none">
    <h5>Data binding</h5>
    <!--
        <div>
            <label for="dataBinding">Two way data binding</label>
            <input type="text" v-model="firstDataSet.message" id="dataBinding">
        </div>
        <h3>Directives</h3>
        <div>
            <label for="v-show-dir" v-show="firstDataSet.message">v-show, will stay in DOM</label>
            <textarea id="v-show-dir" v-model="firstDataSet.message"></textarea>
            <br>
            <label for="v-if-dir" v-if="firstDataSet.message">v-if, will not remain in DOM</label>
            <textarea id="v-if-dir" v-model="firstDataSet.message"></textarea>
            <br>
            <template v-if="firstDataSet.message">this DOM element will not be shown
                <p>data inside template tag will be shown according to v-if condition</p>
            </template>
            <template v-else>
                <p>must follow v-if directive</p>
            </template>
        </div>
        <h3>List Rendering</h3>
        <div class="container-fluid">
            <ul class="list-group">
                <li v-for="i in 2" class="list-group-item">
                    if int is passed, will repeat template {{ i }} time(s)
                </li>
                <li v-for="(item, index) in firstDataSet.arr" class="list-group-item">
                    {{ index }} {{ item }} iterate over array with index
                </li>
                <li v-for="story in firstDataSet.arrOfObjs" class="list-group-item">
                    {{ story.writer }} {{ story.plot }} iterate over array of objects
                </li>
                <li v-for="(value, key, index) in firstDataSet.obj" class="list-group-item">
                    {{index}} : {{key}} : {{value}} iterate over object`s property
                </li>
            </ul>
        </div>
-->

    <h5>Iteractivity</h5>
    <!--
    <div class="container">
        <form class="form-inline" v-on:submit.prevent="calc">
            <input v-model.number="secondDataSet.a" class="form-control">
            <select v-model="secondDataSet.operator" class="form-control">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
            <input v-model.number="secondDataSet.b" class="form-control" v-on:keyup.enter="calc">
            <button type="submit" v-on:click.prevent="calc">Calculate</button>
        </form>
        <div>
            <p v-show="secondDataSet.a">Result: {{secondDataSet.a}} {{secondDataSet.operator}}
                {{secondDataSet.b}} = {{secondDataSet.c}} </p>
        </div>
    </div>
    -->

    <h5>Computed properties</h5>
    <!--
    <div class="container-fluid">
        <ul class="list-group">
            <li v-for="candidate in thirdDataSet.candidates" class="list-group-item">
                {{ candidate.name }} {{ candidate.votes }}
                <button v-on:click="mayorVote(candidate)">Vote</button>
            </li>
        </ul>
        <button class="list-group" v-on:click="clearResults">Clear results</button>
        <div class="list-group">
            New mayor is {{ mayor.name }}!
        </div>
    </div>
-->

    <h5>Filters</h5>
    <!--
    <div class="container-fluid"> Simple filters
        <ul class="list-group">
            <li v-for="story in storiesBy('First writer')" class="list-group-item">
                {{ story.writer }} said {{ story.plot }}
            </li>
        </ul>
        <p>The most famous are:</p>
        <ul class="list-group">
            <li v-for="item in famous" class="list-group-item">
                {{ item.writer }} with {{ item.plot }}
            </li>
        </ul>
        <p>Dynamic filtering</p>
        <div class="group-form">
            <label for="search">What you are looking for?</label>
            <input type="text" id="search" v-model="fourthDataSet.query" class="form-control">
        </div>
        <p>Search results:</p>
        <ul class="list-group">
            <li v-for="story in search" class="list-group-item">
                {{ story.writer }} said {{ story.plot }}
            </li>
        </ul>
        <p>Custom filters</p>
        <ul class="list-group">
            <li v-for="hero in fourthDataSet.heroes" class="list-group-item">
                {{ hero | snitch }}
            </li>
        </ul>
    </div>
    -->

    <h5>Components</h5>
    <!--
    <div class="container-fluid">
        <ul class="list-group">
            <story v-for="item in fourthDataSet.stories" v-bind:prop-name-one="item"></story>
        </ul>
    </div>
-->

    <h5>Custom Events</h5>
    <!--
    <div class="container-fluid">
        <p> {{ customEventsData.votes }} </p>
    </div>
    <button class="btn btn-primary" v-on:click="customEventsMethodOne('argName')">Vote</button>

    <template id="story-template">
        <li class="list-group-item">
            {{propNameOne.writer}} said {{propNameOne.plot}}.
            Story votes {{ propNameOne.upvotes }}.
            <button v-show="!propNameOne.voted" v-on:click="upvote" class="btn btn-default">
                Upvote
            </button>
            <button v-show="!isFavorite" v-on:click="setFavorite" class="btn btn-default">
                Favorite
            </button>
            <span v-show="isFavorite" class="glyphicon glyphicon-star pull-right"
                  aria-hidden="true"></span>
        </li>
    </template>
    -->
</div>

<div id="app2">
    <h5>Custom Events</h5>
    <div class="container-fluid">
        <p> {{votes.count}} </p>
        <button class="btn btn-default" v-on:click="reset">Reset</button>
        <div class="row">
            <food name="First"></food>
            <food name="Second"></food>
            <food name="Third"></food>
        </div>
        <p>Log:</p>
        <ul class="list-group">
            <li class="list-group-item" v-for="vote in votes.log">
                {{ vote }}
            </li>
        </ul>
    </div>
</div>

<template id="food">
    <div class="text-center coll-lg-4">
        <p>
            {{ votes }}
        </p>
        <button class="btn btn-default" v-on:click="vote"> {{name}} </button>
    </div>
</template>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--<script src="js/hello.js"></script>-->
<script src="js/events.js"></script>
</body>

</html>
